<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>328238107734-9ks8fb6q1vmmmhc4n5b4h4bmkda3qtb3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.328238107734-9ks8fb6q1vmmmhc4n5b4h4bmkda3qtb3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>328238107734-mu0mnft66ops8gfcvn1g7fqeprkq7u07.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD0s26TCXOKbHMN34U3lsDclNBhZlH3vYk</string>
	<key>GCM_SENDER_ID</key>
	<string>328238107734</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dawodahmadi.capstoneproject</string>
	<key>PROJECT_ID</key>
	<string>capstoneproject-827ef</string>
	<key>STORAGE_BUCKET</key>
	<string>capstoneproject-827ef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:328238107734:ios:fca1ad5f00839d4104bff7</string>
	<key>DATABASE_URL</key>
	<string>https://capstoneproject-827ef-default-rtdb.firebaseio.com</string>
</dict>
</plist>